{% extends 'products/base.html'%}
{% load my_tags %}
{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Выберите категорию</h1>
        </div>
    </div>
</section>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for category in object_list %}
    <div class="col">
        <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                 role="img"
                  ><title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"/>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{category.name}}</text>
            </svg>

            <div class="card-body">
                <p class="card-text">{{ category.description }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <link>
                        <a type="button"
                           class="btn btn-sm btn-outline-secondary"
                           href="{% url 'products:product_list' category_pk=category.pk %}">Посмотреть продукты
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}