{% extends 'products/base.html'%}
{% load my_tags %}
{% block content %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 justify-content-center">
    <div class="col">
        <form class="card shadow-sm" >
            <img src="{{ object.image | media_filter }}">
            <div class="card-body">
                {% csrf_token %}
                <h5 class="card-title">{{ object.name }}</h5>
                <p class="card-text">{{ object.description }}</p>
                <div class="d-flex align-items-center">
                    <div class="btn-group">
                        <link>
                        <a type="button"
                           class="btn btn-sm btn-outline-secondary"
                           href="{% url 'products:product_list' category_pk=object.pk  %}">Отменить</a>
                    </div>
                    <div class="btn-group">
                        <button type="submit"
                                class="btn btn btn-outline-danger"
                                formmethod="post"
                                formenctype="multipart/form-data">Действительно УДАЛИТЬ
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}