{% extends 'products/base.html'%}
{% load my_tags %}
{% block content %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 justify-content-center">
    <div class="col">
        <div class="card shadow-sm">
            <img src="{{ object.image | media_filter }}">
            <div class="card-body">
                <h5 class="card-title">{{ object.name }}</h5>
                <p class="card-text">{{ object.description }}</p>
                <p class="card-text">Товар просмотрен {{ object.view_count }} раз</p>
                <div class="d-flex align-items-center">
                    <div class="btn-group col-4">
                        <a type="button" class="btn btn-sm btn-outline-secondary">*Разработка* Купить за {{ object.price }}
                            рублей</a>
                    </div>
                    <div class="btn-group col-4">
                        <a type="button" class="btn btn-sm btn-outline-secondary"
                           href="{% url 'products:product_update' pk=object.pk %} ">Редактировать
                        </a>
                    </div>
                    <div class="btn-group col-4">
                        <a type="button"
                           class="btn btn-sm btn-outline-secondary "
                           href="{% url 'products:product_delete' pk=object.pk %}">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}